@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-none text-danger" href="identity/account/login" @onclick="HandleLogout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-none" href="identity/account/login">Login</a>
                    <a class="btn btn-none" href="identity/account/login">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    async Task HandleLogout(){
        var userSession = new UserSessionDto();
        var customAuthProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await customAuthProvider.UpdateAuthenticationState(userSession);
        NavManager.NavigateTo("/", true);
    }
}
