@using Microsoft.AspNetCore.Components.Authorization
<p>asfasfas</p>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Hi,

            <AuthorizeView>
                <Authorized>
                    @context.User.Identity!.Name;
                    <div class="nav-scrollable">
                        <nav class="flex-column">
                            <div class="nav-item px-3 ">
                                <NavLink class="nav-link nav-link-top p-2" href="javascript:void()" style="cursor:pointer" @onclick="ShowAdminMenu">
                                    <span class="bi bi-person-fill" aria-hidden="true">Administartion</span>
                                </NavLink>
                            </div>
                            <div class="nav-link p-2 text-white" style="margin-left: 5rem; display: @AdminCssDisplay">
                                <ul class="list-group">
                                    <li style="list-style:none" class="cusor-style">
                                        <a class="nav-link p-2" href="javascript:void()">
                                            <div class="hstack text-wrap">
                                                <span class="bi bi-people fs-5 text-center" aria-hidden="true"></span>
                                                <span class="fs-6">Users</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link  p-2" href="javascript:void()" style="cursor:pointer" @onclick="ShowDepartmentMenu">
                                    <span class="bi bi-substack" aria-hidden="true">Department</span>
                                </NavLink>
                            </div>
                            <div class="nav-link p-2 text-white" style="margin-left: 5rem; display: @DepartmentCssDisplay">
                                <ul class="list-group">
                                    <li style="list-style:none" class="cusor-style">
                                        <a class="nav-link p-2" href="javascript:void()">
                                            <div class="hstack text-wrap">
                                                <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                                <span class="fs-6">General</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li style="list-style:none" class="cusor-style">
                                        <a class="nav-link p-2" href="javascript:void()">
                                            <div class="hstack text-wrap">
                                                <span class="bi bi-substack fs-5 text-center" aria-hidden="true" style="margin-top:-2rem"></span>
                                                <span class="fs-6">Department</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </Authorized>
                <NotAuthorized>
                    Guest
                </NotAuthorized>
            </AuthorizeView>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public string DepartmentMargin { get; set; } = "-3.5rem";
    public string AdminCssDisplay { get; set; } = "none";
    public string DepartmentCssDisplay { get; set; } = "none";
    public bool IsHidden { get; set; } = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ShowAdminMenu()
    {
        IsHidden = !IsHidden;

        if (IsHidden)
        {
            AdminCssDisplay = "block";
        }
        else
        {

            AdminCssDisplay = "none";
        }
    }
    private void ShowDepartmentMenu()
    {
        IsHidden = !IsHidden;

        if (IsHidden)
        {
            DepartmentCssDisplay = "block";
        }
        else
        {

            DepartmentCssDisplay = "none";
        }
    }
}







