<div class="button-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <li>
            <div class="card-body">
                <ul class="lis-group">
                    <li class="list-group-item">
                        <a> 
                            <i style="width:100%" class="bi bi-person-gear"></i>
                            Profile
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger" @onclick="HandleLogout">Logout</button>

            </div>
        </li>

    </ul>
</div>


